# Ignore node_modules folder
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.swp

# Environment files
.env

# Reports or output
reports/
